<template name="scoreboard">
  <div class="panel panel-primary">
    <div class="panel-heading">
      {{#if fullTable}}
        Положение участников
      {{else}}
        Участники
      {{/if}}
    </div>
    <ul class="list-group">
      {{#each user in users}}
        {{#if needToShow @index user}}
          <a class="list-group-item" href="{{pathFor 'users.showUser' _id=user._id}}">
            <span class="badge">{{user.score}}</span>
            {{addOneTo @index}}. 
            {{#if isCurrentUser user}}
              <b>{{user.username}}</b>
            {{else}}
              {{user.username}}
            {{/if}}
          </a>
        {{/if}}
      {{/each}}
    </ul>
    {{#unless fullTable}}
      <ul class="list-group">
        <a class="list-group-item" id="showFullTable" href="{{pathFor 'scoreboard'}}">
          Текущее положение участников
        </a>
      </ul>
    {{/unless}}
  </div>
  
  {{#if isAdmin}}
    {{#if fullTable}}
      <div class="panel panel-default">
        <div class="panel-heading">Скрытые пользователи</div>
        <ul class="list-group">
          {{#each user in invisibleUsers}}
            <a class="list-group-item" href="{{pathFor 'users.showUser' _id=user._id}}">
              <span class="badge">{{user.score}}</span>
              {{#if isCurrentUser user}}
                <b>{{user.username}}</b>
              {{else}}
                {{user.username}}
              {{/if}}
            </a>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  {{/if}}
</template>