<template name="showTask">
  <div class="panel panel-{{taskCompletion}}">
    <div class="panel-heading">
      {{task.name}}
      ({{task.cost}}{{#if task.penalty}} / &ndash;{{task.penalty}}{{/if}})</div>
    <ul class="list-group">
      <li class="bg-info list-group-item">{{task.description}}</li>
      {{#if task.attachment}}
        <li class="list-group-item"><a target="_blank" href={{task.attachment}}>Вложение</a></li>
      {{/if}}
      <li class="list-group-item">{{winners}}</li>
      {{#unless taskCompleted}}
        <li class="list-group-item">
          <div id="resultAlert">
            {{#if taskFailed}}
              {{> failTaskMessage }}
            {{/if}}
          </div>
          <form>
            <div class="form-group">
              <label for="flag">Флаг</label>
              <input type="text" id="flag" name="flag" class="form-control"/>
            </div>
            <button id="submitTask" class="btn btn-success">Сдать задачу</button>
          </form>
        </li>
      {{/unless}}
    </ul>
  </div>
  {{#if isAdmin}}
    <div class="panel panel-default">
      <div class="list-group">
        <a href="{{pathFor 'tasks.attempts' _id=task._id}}" id="watchAttempts" class="list-group-item">Посмотреть отправки</a>
        <a href="{{pathFor 'tasks.edit' _id=task._id}}" id="editing" class="list-group-item">Изменить задачу</a>
      </div>
    </div>
  {{/if}}
</template>