<template name="editTask">
  <ul class="list-group">
    <li class="list-group-item">
      <form>
        <div class="form-group">
          <label for="taskName">Название</label>
          <input type="text" id="taskName" name="taskName" class="form-control" value={{task.name}} />
        </div>
        <div class="form-group">
          <label for="taskDescription">Описание</label>
          <textarea id="taskDescription" name="taskDescription" class="form-control" value={{task.description}}></textarea>
        </div>
        <div class="form-group">
          <label for="taskAttachment">Ссылка на вложение (необязательно)</label>
          <input type="text" id="taskAttachment" name="taskAttachment" class="form-control" value={{task.attachment}} />
        </div>
        <div class="form-group">
          <label for="taskCategory">Категория</label>
          <input type="text" id="taskCategory" name="taskCategory" class="form-control" value={{task.category}} />
        </div>
        <div class="form-group">
          <label for="taskFlag">Флаг</label>
          <input type="text" id="taskFlag" name="taskFlag" class="form-control" value={{task.flag}} />
        </div>
        <div class="form-group">
          <label for="taskCost">Стоимость</label>
          <input type="number" id="taskCost" name="taskCost" class="form-control" value={{task.cost}} />
        </div>
        <div class="form-group">
          <label for="taskPenalty">Штраф</label>
          <input type="number" id="taskPenalty" name="taskPenalty" class="form-control" value={{task.penalty}} />
        </div>
        <div class="form-group">
          <label for="taskParent">Задача-предок</label>
          <select id="taskParent" name="taskParent" class="form-control">
            <option value="" {{taskWithoutParent}}> - Отсутствует - </option>
            {{#each parentTask in tasks}}
              {{#if isDifferentTask parentTask}}
                <option value="{{parentTask._id}}" {{taskWithParent parentTask}}>{{parentTask.name}}</option>
              {{/if}}
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label>
            <input type="checkbox" name="taskOpened" {{taskOpened}} />
            Задача открыта
          </label>
        </div>
        <button id="save" class="btn btn-success">
          {{#if editing}}
            Изменить задачу
          {{else}}
            Добавить задачу
          {{/if}}
        </button>
        {{#if editing}}
          <a href="{{pathFor 'tasks.show' _id=task._id}}" class="btn btn-danger pull-right">Отменить</a>
        {{else}}
          <a href="{{pathFor 'tasks.list'}}" class="btn btn-danger pull-right">Отменить</a>
        {{/if}}
      </form>
    </li>
    {{#if editing}}
      <a href="#" id="removeTask" class="list-group-item">Удалить задачу</a>
    {{/if}}
  </ul>
</template>