<template name="taskAttempts">
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th>Время отправки</th>
          <th>Пользователь</th>
          <th>Флаг</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each attempt in attempts}}
          {{#if attempt.success}}
            <tr class="success">
              <td>{{prettifyDate attempt.timestamp}}</td>
              <td>{{attempt.user}}</td>
              <td>{{attempt.flag}}</td>
              <td><a href="#" data-id={{attempt._id}} class="glyphicon glyphicon-remove removeAttempt"></a></td>
            </tr>
          {{else}}
            <tr class="danger">
              <td>{{prettifyDate attempt.timestamp}}</td>
              <td>{{attempt.user}}</td>
              <td>{{attempt.flag}}</td>
              <td><a href="#" data-id={{attempt._id}} class="glyphicon glyphicon-remove removeAttempt"></a></td>
            </tr>
          {{/if}}
        {{/each}}
      </tbody>
    </table>
    <ul class="list-group">
      <a href="{{pathFor 'tasks.showTask' _id=task._id}}" class="list-group-item">К задаче</a>
    </ul>
  </div>
</template>